/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.42; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * minimal base styles 
 */


body, select, input, textarea { color:#444; }

/* Headers (h1,h2,etc) have no default font-size or margin, you'll want to define those yourself. */
/* http://style.cleverchimp.com/font_size_intervals/altintervals.html */ 
small {
 font-size: smaller;
 }
big {
 font-size: larger;
 }
h1 {
 font-size: x-large;
 }
h2 {
 font-size: large;
 }
h3 {
 font-size: medium;
 }
h4 {
 font-size: small;
 }
h5 {
 font-size: xx-small;
 }
h6 {
 font-size: xx-small;
 }
font[size=1] {
 font-size: xx-small;
 }
font[size=2] {
 font-size: small;
 }
font[size=3] {
 font-size: medium;
 }
font[size=4] {
 font-size: large;
 }
font[size=5] {
 font-size: x-large;
 }
font[size=6] {
 font-size: xx-large;
 }
font[size=7] {
 font-size: 300%;
 }
font[size=-1] {
 font-size: smaller;
 }
font[size=+1] {
 font-size: larger;
 }
font[size=-2] {
 font-size: 60%;
 }
font[size=+2] {
 font-size: 150%;
 }
font[size=+4] {
 font-size: 300%;
 }
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { padding-bottom: 5px; color: #555555; font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
/* Remove tweak: irrelevant for Safari 5 and new Chrome releases*/
/* html { -webkit-font-smoothing: antialiased; } */

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { text-decoration: none; color: #c32027; }
a:hover { color: #f22731; }


ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #AF1C22; } 

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }


/* CSS Sticky Footer */
*
{   margin:0;padding:0;   } 

html, body
{   color: #444444;   height: 100%;
	background-color: #e0dede;
	text-shadow: 0px 1px #f0f0f0;
}

#wrap 
{   min-height: 100%;   }

#main
{   overflow:auto;
	padding-bottom: 45px;   /* must be same height as the footer */
	/*padding-top: 75px;*/
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	width: 100%;
	min-height: 300px;
}


footer
{	color: #666666;	background-color: #ececec;	                                
	position: relative;
	margin-top: -45px; /* negative value of footer height */
	height: 44px; /* footer height*/
	border-top: 1px;
	border-style:solid;
	border-color: #cccccc;
	width: 100%;
	clear:both;
	text-align: center;
}
	
#footerInner
{	height: 30px; font-size: 9pt; padding-top: 14px; color: #b3b3b3;	text-align: center;	margin-right: auto;	margin-left: auto; width: 750px;
}

footer a, footer span
{	padding: 0px 10px 0px 10px;
}

/*Opera Fix*/
body:before /* thanks to Maleika (Kohoutec)*/
{   content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



 /* Primary Styles
    Author: 
 */


header
{	border-bottom-width: 1px;	border-style: solid;	border-color: #cccccc;	background-color: #ececec;
	background-repeat: repeat-x;	margin-right: auto;	margin-left: auto;    width: 100%;    height: 99px;
}

#headerInner
{   border-style: none;
    color: #444444;
    margin-right: auto;	margin-left: auto;    height: 70px;   width: 750px;
}

#contentWrap
{	min-height: 400px;  margin-right: auto;	margin-left: auto;	margin-bottom: 0px;	margin-top: 0px;
	width: 750px;
}

#content h2
{	padding-bottom: 3px;
}

#content ul
{	padding-bottom:	20px;
	margin-left: 3px;
}

#content li
{	list-style-type: none;
}

#content table
{	text-align: left;
}

#content th, td
{	padding: 4px 20px 2px 0px;
}

#content th
{	border-bottom: 1px;		border-style: solid;	border-color: #CCC;
}

#content td #row-alt
{	background-color: #E0D8D8;
}

#main p
{   padding-left: 0px;   padding-bottom: 5px;   padding-right: 0px;   padding-top: 10px;   line-height: 175%;
}

#nav
{	font-size: medium;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	position: relative;
	height: 70px;
	color: #444444;
	clear:both;
}

#nav li
{   list-style-type: none;
	height: 43px;
	float: left;
	padding: 24px 20px 0px 20px;
	color: #444444;
}


#nav a:hover, a:active
{   color: #ee252c;
  	text-shadow: 0px 1px 2px #fafdff;
}

#nav a
{   color: #ce2026;   }


#title
{	background-position: 0 60%;
	height: 70px;
	padding-left: 25px;
	padding-bottom: 12px;
	padding-right: 25px;
	padding-top: 12px;
	margin-left:-30px;
	background-image: url('/graphics/title.png');
	width: 280px;
	background-repeat: no-repeat;
	text-indent: -3000px;
}

#nav .right
{   float: right;   }


#userbar
{   border: 1px #CCC solid;
	border-top: none;
	padding: 10px 10px;
	width: 750px;
}

#userbar #wwgrp_switch_navEventKey, #userbar #wwgrp_switch_navOrgKey, #userbar #wwgrp_switch_navUnitKey, #userbar #wwctrl_switch_Go, #userbar #static_text
{   float: right;
	padding-right: 10px;
}

#userbar select
{
}

#switch_navEventKey, #switch_navOrgKey, #switch_navUnitKey, #userbar #switch_Gox
{	width: 150px;
}

#userbar #switch_Go
{	width: 50px;	
}

#content
{	padding-top: 45px;
}

#content td
{   padding: 7px;   }

#content tr:hover
{   background-color: #e7e7e7;   }

#content label
{   position: relative;   top: 5px;   padding-bottom: 0px;}

#content input[type=text], #content input[type=password], #content textarea, #content select
{   background-color: #e7e7e7;
    border: solid #b8b8b8 1px;
	padding: 8px;
	width: 18em;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#content textarea
{   height: 5em;   }

#content .wwgrp, #content .wwlbl, #content .wwctrl
{	/*background-color: pink;*/
}

#content .wwlbl, #userbar .wwlbl
{   margin-bottom: -10px; /* Risky, could affect footerStick */
}

#content .wwgrp, #userbar .wwgrp
{   padding-bottom: 10px;
}

#booking_arrivalDate, #booking_dob, #booking_departureDate, #event_publicEventStart,
#event_publicEventEnd, #event_internalEventStart, #event_internalEventEnd
{   background-image: url(/css/custom-theme/images/ui-icon-calendar.png);
	background-position: 98%;
	background-repeat: no-repeat;
}

#wwctrl_signup_signup, #wwctrl_booking_Save, #wwctrl_booking_Cancel, 
#wwctrl_organisation_Save, #wwctrl_organization_Cancel, #wwctrl_unit_Save,
#wwctrl_booking_cancelEditBooking
{	width: 18em;
	padding: 5px 10px 0px 10px;
}

.errorMessage
{   text-align: center;   padding-bottom: 5px;   padding-top: 5px;   left: -25px;   position: relative;   background-color: #c11e24;
    color: #eeeeee;
    border-radius: 4px;
	-moz-border-radius: 4px;
	text-shadow: none;
	list-style-type: none;
	width: 100%;
}

.errorMessage ul
{   width: 100%;
}

:focus 
{   outline: 0;   }






/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}


/*
 *  CSS Menu
 */
        ul#primary-nav,
        ul#primary-nav ul {
            width: 150px;
            margin: 0;
            padding: 0;
            background: #DEDADA;
            font-size: 100%;
        }

        ul#primary-nav {
            float: left;
            width: 600px;
        }

        ul#primary-nav:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        ul#primary-nav li {
            position: relative;
            list-style: none;
            float: left;
            width: 150px; /* Width of Menu Items */
            background: #dedada;
        }

        ul#primary-nav li a,
        ul#primary-nav li li a {
            display: block;
            text-decoration: none;
            color: #777;
            padding: 5px;
            border: 1px solid #ccc;
        }

        /* Fix IE. Hide from IE Mac \*/
        * html ul#primary-nav li { float: left; height: 1%; }
        * html ul#primary-nav li a { height: 1%; }
        /* End */

        ul#primary-nav ul {
            position: absolute;
            display: none;
        }

        ul#primary-nav ul ul {
            left: 150px;
            top: 0;
        }

        ul#primary-nav li ul li a { padding: 2px 5px; } /* Sub Menu Styles */

        ul#primary-nav li:hover ul ul,
        ul#primary-nav li:hover ul ul ul,
        ul#primary-nav li.over ul ul,
        ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */

        ul#primary-nav li:hover ul,
        ul#primary-nav li li:hover ul,
        ul#primary-nav li li li:hover ul,
        ul#primary-nav li.over ul,
        ul#primary-nav li li.over ul,
        ul#primary-nav li li li.over ul { display: block; } /* The magic */
/*
        ul#primary-nav li.menubar { background:  url(graphics/arrow-down.gif) right center no-repeat; }
     */   
        ul#primary-nav li li.menubar { background:  url(/graphics/arrow-right.gif) right center no-repeat; }
 
        ul#primary-nav li:hover,
        ul#primary-nav li.over { background-color: #f9f9f9 !important; }

        ul#primary-nav li a:hover { color: #E2144A; }
 